secrets.json

# ignore virtual environment
venv

# ignore environment variables
.env

# ignore vscode specific stuff
.vscode

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pycharm junk
.idea/